langchain
langchain_core
langchain-openai
langchain-community
#langchain-classic
pydantic
fastapi
uvicorn[standard]
python-dotenv
streamlit
langsmith
langchain-experimental
chromadb
langchain-chroma
faiss-cpu
rank-bm25
sentence-transformers
langchain-huggingface
pypdf
python-docx
docx2txt
beautifulsoup4
lxml
fpdf2
pinecone
langchain-pinecone
upstash-redis
