langchain
langchain_core
langchain-openai
langchain-community
pydantic
fastapi
uvicorn
python-dotenv
streamlit
langsmith

chromadb
langchain-chroma
faiss-cpu
rank-bm25
sentence-transformers

pypdf
python-docx
docx2txt
beautifulsoup4
lxml
fpdf2

upstash-redis
